<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CDN  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- FONT FAMILY  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/syle.css">
    <title>LEZIONE</title>
  </head>
  <body> 
    <div id="app">
      <header class="border-bottom">
        <nav class="container navbar navbar-light justify-content-between">
          <h4 class="navbar-brand">LEZIONE</h4>

          <button type="button" class="btn btn-danger" @click="toggle">
            <img src="./images/cartIcon.svg" alt="Cart Icon" class="" />
            <span class="badge bg-white text-dark">{{ cart.length }}</span>
          </button>
        </nav>
      </header>

      <div class="container mt-4">
        <div class="row">
            <!-- SEARCH & FILTERS  -->
            <div class="col mt-4">
                <input type="text" placeholder="Search for a lesson" v-model="search" class="p-2">

                <h5 class="mt-4 mb-4">FILTERS</h5>
                <form>
                    <fieldset id="group1" class="border-bottom">
                        <div>
                            <input type="radio" value="subject" name="group1">
                            <label for="subject">Subject</label>
                        </div>
                        <div>
                            <input type="radio" value="location" name="group1">
                            <label for="location">Location</label>
                        </div>
                        <div>
                            <input type="radio" value="price" name="group1">
                            <label for="price">Price</label>
                        </div>
                        <div>
                            <input type="radio" value="availability" name="group1">
                            <label for="availabiity">Availability</label>
                        </div>
                    </fieldset>
                  
                    <fieldset id="group2" class="mt-4">
                        <div>
                            <input type="radio" value="ascending" name="group2">
                            <label for="ascending">Ascending</label>
                        </div>
                        <div>
                            <input type="radio" value="descending" name="group2">
                            <label for="descending">Descending</label>
                        </div>
                    </fieldset>
                  </form>
            </div>

            <!-- LESSON CARDS  -->
            <div class="col-9 mt-4">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4" v-for="(lesson, id) in filteredLessons" :key="id">
                    <div class="card">
                      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">Subject: {{ lesson.subject }}</h5>
                        <p class="card-text mb-0">Location: {{ lesson.location }}</p>
                        <p class="card-text mb-0">Price: {{ lesson.price }}</p>
                        <p class="card-text">Spaces: {{ lesson.spaces }}</p>
                       <button class="btn btn-outline-danger btn-sm" @click="addToCart(lesson)">Add to cart</button>
                      </div>
                     </div>
                    </div>

                    <!-- ALert Error for Search -->
                    <div class="col mb-4" v-show="filteredLessons.length === 0">
                        <div class="alert alert-danger" role="alert">Alert!! Lesson not found!.</div>
                    </div>
                  </div>
            </div>
        </div>
      </div>


      <!-- Cart Items  -->
      <div class="sidebar bg-white p-4" :class="{ active: !cartOpen, inactive: cartOpen}">
        <div class="row border-bottom container">
          <span class="col-3 font-weight-bold" @click="toggle">X</span>
          <h4 class="col-9">Cart Items</h4>
        </div>

        <div class="body mt-4">
          <div v-for="(item, id) in cart" :key="id">
            <div class="card mb-2">
              <h5 class="card-header">{{ item.subject }}</h5>
              <div class="card-body">
                <p class="card-text">{{ item.location }}</p>
                <button class="btn btn-danger">Remove</button>
              </div>
            </div>
          </div>
        </div>
    </div>

      <!-- end  -->
    </div>
  </body>

  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <script type="module" src="./js/app.js"></script>
</html>
